h1,
h3 {
    font-family: Arvo;
    text-align: center;
}

p {
    font-family: Roboto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    border-color: #8ECAE6;
    border-width: medium;
    border-style: groove;
    background-color: #FB8500;
    padding-bottom: 25px;
}

img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
