header,
footer {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0%;
}

nav {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-left: 2rem;
    margin-right: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.fa:hover { 
    opacity: 0.9; 
} 

.fa-facebook { 
    background: #007bb5; 
    color: white; 
}

.fa { 
    padding: 20px; 
    font-size: 2em; 
    width: 60px; 
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

main section {
    display: grid;
    grid-column: 2 / 3;
    background-color: white;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
    padding: 1rem;
    opacity: 0.8;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 10px;
}

form {
    width: 80%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#map {
    max-width: 100%;
}

#map iframe {
    max-width: 100%;
    max-height: auto;
}

img {
    position: absolute;
    width: 100%;
    height: auto;
    grid-column: 1 / 4;
    z-index: -1;
}

#form-img {
    position: relative;
    float: right;
    left: auto;
    right: auto;
}

#rental-imgs {
    display: flex;
    flex-direction: row;
}

#rental-imgs img {
    position: inherit;
    height: 220px;
    width: auto;
    margin: 1%;
}

#rental-form {
    justify-content: left;
    justify-items: center;
    display: flex;
    flex-direction: row;
    margin: 40px;
}

#rental-form form {
    margin-left: 40px;
}

#form-img {
    margin: 40px;
    width: 100%;
    height: auto;
}