@media (max-width: 750px) {
    .fa {
        padding: 0px;
        font-size: 1em;
        width: 60px;
        text-decoration: none;
    }

    nav ul {
        flex-direction: column;
    }

    #main-img {
        display: none;
    }

    #form-img {
        display: none;
    }

    #rental-imgs {
        flex-direction: column;
    }

    #rental-imgs img {
        width: 100%;
        height: auto;
    }
}