@media (max-width: 750px) {
    .month,
    .weekdays,
    .days {
        display: none;
    }
    
    #small-msg {
        display: contents;
    }

    form {
        grid-column: 2 / 5;
        margin-left: 10%;
        margin-right: 10%;
    }
}