@media (max-width: 600px) {

    main {
        grid-template-rows: 1.5fr 0.5fr 0.5fr 2fr;
    }

    .open li {
        display: block;
    }

    #menu {
        display: block;
    }

    #menu::before {
        content: '=';
    }

    .navigation.open {
        display: block;
        flex-direction: column;
    }

    .navigation {
        display: none;
    }

    #local-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    form {
        grid-column: 2 / 5;
    }
}
