* {
    font-family: "Times New Roman", Times, serif;
}

header,
footer {
    display: grid;
    background-color: blue;
    padding: 20px;
    align-items: center;
}

header {
    grid-template-columns: 20% 10% 5% 45% 20%;
}

#profilePic {
    display: inline;
    grid-column: 2 / 3;
    max-height: 100px;
    align-content: center;
}

header h1 {
    grid-column: 4 / 5;
    color: white;
}

h2::first-letter {
    font-size: xx-large;
}

footer p {
    text-align: center;
    align-self: center;
    color: white;
    background-color: blue;
}

a {
    justify-content: center;
    align-content: center;
    display: grid;
    background-color: black;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 50px;
}

#navigation a{
    display: block;
    flex: 1 1 100%;
    text-align: center;
}

#menu {
    display: none;
}

a:hover {
    background-color: #bbb;
    color: #333;
}

main {
    min-height: 400px;
    display: grid;
    grid-template-rows: 10% 40% 20% 30%;;
    text-align: center;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
}

.card:first-child {
    grid-row: 2 / 3;
}

.card:first-child {
    grid-row: 3 / 4;
}

.card h2,
.card h3 {
    justify-content: center;
    display: flex;
    padding: 10px;
    color: white;
    background-color: blue;
}

iframe {
    justify-self: center;
    width: 80%;
}

@media screen and (max-width: 40em) {
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: blue;
        color: white;
    }
    
    #menu::before {
        content: "≡";
    }
    
    #menu.show::before {
        content: "X";
    }
    
    #navigation {
        display: none;
    }

    .show + #navigation {
        display: contents !important;
    }
}