* {
    font-family: "Times New Roman", Times, serif;
}

header,
footer {
    display: grid;
    background-color: blue;
    padding: 20px;
    align-items: center;
}

header {
    grid-template-columns: 20% 10% 5% 45% 20%;
}

#profilePic {
    display: inline;
    grid-column: 2 / 3;
    max-height: 100px;
    align-content: center;
}

header h1 {
    grid-column: 4 / 5;
    color: white;
}

h2::first-letter {
    font-size: xx-large;
}

footer p {
    text-align: center;
    align-self: center;
    color: white;
    background-color: blue;
}

a {
    justify-content: center;
    align-content: center;
    display: grid;
    background-color: black;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 50px;
}

main h2 {
    grid-row: 2 / 3;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 20px;
}

picture img {
    width: 100%;
}

#navigation a{
    display: block;
    flex: 1 1 100%;
    text-align: center;
}

#menu {
    display: none;
}

a:hover {
    background-color: #bbb;
    color: #333;
}

main {
    min-height: 400px;
    display: grid;
    grid-template-rows: 1fr 0.2fr 1fr 1fr;
    text-align: center;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
}

.card:first-child {
    grid-row: 2 / 3;
}

.card:first-child {
    grid-row: 3 / 4;
}

.card h2,
.card h3 {
    justify-content: center;
    display: flex;
    padding: 10px;
    color: white;
    background-color: blue;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	max-width: 100%;
    grid-row: 1 / 2;
}

.hero picture img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    grid-row: 1 / 2;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

iframe {
    justify-self: center;
    width: 80%;
}

@media screen and (max-width: 40em) {
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: blue;
        color: white;
    }
    
    #menu::before {
        content: "≡";
    }
    
    #menu.show::before {
        content: "X";
    }
    
    #navigation {
        display: none;
    }

    .show + #navigation {
        display: contents !important;
    }

    main {
        grid-template-rows: 1fr 0.2fr 1fr 1fr;
    }
}