:root {
    --margin-amount: 50px;
    --form-percent-width: 90%;
    --form-spacing: 30px;
}

main {
    grid-template-rows: auto;
}

form {
    max-width: 30%;
    justify-self: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: var(--margin-amount);
    margin-bottom: var(--margin-amount);
}

button {
    width: 100%;
}

input {
    width: var(--form-percent-width);
}

fieldset label {
    text-align: left;
}

fieldset input {
    margin-bottom: var(--form-spacing);
}

.submitBtn {
    width: 100%;
}